// toolbar

nav#secondNav .navbar-nav .nav-link {
    line-height: 0;
}
nav#secondNav .form-inline .form-control {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    width: 240px;
}
nav#secondNav form.form-inline button.btn {
    margin-left: -40px;
    font-size: 10px;
    width: 20px;
    height: 20px;
}
nav#secondNav  i.fa.fa-search {
    margin-top: -2px;
    display: block;
    margin-left: -3px;
}

// navigation

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: $primary;
}
nav#mainNav {
    border-left: 1px;
    border-style: double;
    border-right: 0;
    border-color: #e1e1e1;
}
.navbar-nav .nav-link, .dropdown-item {
    font-size: 12px;
}

li.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

// section

header.masthead, section {
    padding: 30px 0;
}
.border-top {
  @include border-top; 
}


// footer

footer#footer a {
    font-size: 12px;
}


.team-member {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}