// Variables

// Restated Bootstrap Variables

$white: #FFF !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #c4c4c4 !default; 
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #989898 !default;
$gray-800: #666666 !default;
$gray-900: #212529 !default;

$text: #666666 !default;

$primary: #ff9900 !default;
$secondary: #2d2928 !default;
$dark: #232323 !default;
$light: #919191 !default;

$container: 960px !default;

$border-color: #e1e1e1;
